/*Palette: https://coolors.co/e65f5c-fdfffc-09bc8a-004e89-1d201f

E65F5C ROJO
FDFFFC BLANCO
09BC8A VERDE 
004E89 AZUL
1D201F NEGRO

*/
.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

:root {
  --rojo: #e65f5c;
  --blanco: #fdfffc;
  --verde: #09bc8a;
  --azul: #004e89;
  --negro: #1d201f;
  --fondo: var(--negro);
  --titulos: var(--verde);
  --texto: var(--blanco);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--fondo);
  text-align: center;
  margin-top: 40px;
}

h1 {
  color: var(--titulos);
}

.pentagrama {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 140px;
  margin-top: 50px;
  background: repeating-linear-gradient(
    to bottom,
    var(--blanco),
    var(--blanco) 2px,
    transparent 2px,
    transparent 35px
  );
  border: 2px solid var(--blanco);
  border-radius: 10px;
}

.clave-sol {
  position: absolute;
  font-size: 120px;
  left: 30px;
  top: -5px;
  color: var(--blanco);
}

.nota {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--verde);
  border-radius: 50%;
  left: 150px;
  top: 95px; /* posición vertical */
  transition: all 0.3s ease;
}

#siguienteNota {
  margin-top: 70px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: var(--verde);
  color: var(--azul);
  font-size: 30px;
  cursor: pointer;
  width: 300px;
  font-weight: bolder;
}

.linea-adicional{
  position: absolute;
  height: 2px;
  width: 70px;
  background-color: var(--blanco);
  top: 12px;
  left: -20px; 
}

.linea-vertical-pentagrama {
  position: absolute;
  top: -63px;
  left: 162px; /* empieza en el borde izquierdo */
  width: 3px;
  height: 180%;
  background-color: var(--rojo); /* color de la línea */
  transition: left 0.2s ease;
}
